@import url('https://fonts.googleapis.com/css?family=Noto+Serif|Oswald:300,700|Patrick+Hand|Yellowtail&display=swap');

/* font-family: 'Oswald', sans-serif;
font-family: 'Yellowtail', cursive;
font-family: 'Noto Serif', serif;
font-family: 'Patrick Hand', cursive; */

* {
    box-sizing: border-box;
}

body {
    width: 960px;
    margin: 0 auto;
}

header {    
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.float-left {
    float: left;
    clear: left;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: space-between;
}

.float-right {
    float: right;
    clear: right;
    display: flex;
    align-items: center;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}

#logo-text {
    margin-left: 5px;
    height: 45px;
}

.delicious {
    font-family: 'Yellowtail', cursive;
    font-size: 35px;
    position: relative;
    top: -10px; 
}

h2 {
    font-family: 'Oswald', sans-serif;
}

#delicious-subtitle {
    font-family: 'Oswald', sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    position: relative;
    top: -20px;
    margin-left: 3px;
}

h4 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}

.socials {
    height: 24px;
    width: 24px;
    margin: 1px;
}

#rss {
    margin-left: 8px;
}

#texture-box {
    height: 13px;
    width: 960px;
    background-image: url('img/hr-img.png');
}

#article-title {
    overflow: auto;
    align-items: center;
}

#food-title {
    font-family: 'Oswald', sans-serif;
    font-size: 40px;
    font-weight: 800;
    float: left;
    clear: left;
}

#food-date {
    font-family: 'Oswald', sans-serif;
    color: gray;
    opacity: .6;
    font-size: 14px;
    text-transform: uppercase;
    float: left;
    clear: left;
}

#food-print {
    font-family: 'Oswald', sans-serif;
    color: gray;
    opacity: .6;
    font-size: 14px;
    text-transform: uppercase;
    float: right;
    clear: right;
}


#chocolate-pizza {
    width: 100%;
}

.directions {
    font-family: 'Noto Serif', serif;
    text-indent: 50px;
}

.recipe {
    font-family: 'Patrick Hand', cursive;
    background-image: url('img/list-bg.png');
}

li {
    list-style-type: none;
}

button {
    border: 1px solid #b76d3c;
    background-color: #b76d3c;
    color: white;
    padding: 10px 25px;
    font-weight: 200;
}

